# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Configuration files
config.json

# Cache files
*.log
*.sqlite3
